In [9]:
import pandas as pd
import numpy as np
data = {'Name': ['Alice', 'Bob', 'Charlie']
        ,'Age': [25, 30, 35]}
df = pd.DataFrame(data)
data

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}

In [24]:
df['luong'] = np.random.randint(10, 30, size = df.shape[0]) * 10
df

    name  score  luong
0    Duc      9    160
1  hoang      5    110

# bai 3 lab1

In [19]:
ls_ten = ['Duc', 'hoang']
ls_score = np.random.randint(0, 10, len(ls_ten))

data ={'name': ls_ten,
       'score': ls_score}
df = pd.DataFrame(data)
df

    name  score
0    Duc      9
1  hoang      5