In [2]:
import pandas as pd
import numpy as np

In [6]:
filepath = r'H:\Python_exercises\dat205\data\04.BangLuong-top2.csv'
data = pd.read_csv(filepath)
df = pd.DataFrame(data)

In [139]:
# Kết hợp hai hàm vào một hàm duy nhất
def create_random_nulls_and_replace_with_max(group):
    # Sample 3 random positions from the group 
    random_positions = group.sample(3).index

    # Fill the random positions with NaN 
    group.loc[random_positions, 'Salary'] = np.nan

    # Replace null values with max salary of the group
    max_salary = group['Salary'].max()
    group['Salary'] = group['Salary'].fillna(max_salary)
    
    # Return group 
    return group

# Áp dụng hàm mới vào từng nhóm bộ phận
groupdt = data.groupby('Department').apply(create_random_nulls_and_replace_with_max)
print(groupdt)

# Đảm bảo 'Department' không còn là một cấp chỉ số
groupdt.reset_index(drop=True , inplace=True)

# Tìm ra 2 đại diện trong mỗi nhóm có mức lương cao nhất
top_2_each_dept = groupdt.groupby('Department').apply(lambda x: x.sort_values('Salary', ascending=False).head(2))

print("Đại diện 2 nhân viên có mức lương cao nhất mỗi bộ phận:")
print(top_2_each_dept)


# # Loại bỏ cột 'Department'
# groupdt.reset_index(drop=True, inplace=True)

# # Hiển thị tất cả thông tin của một nhóm từ DataFrame đã được xử lý
# group_name = 'HR'  # Tên của nhóm bạn muốn hiển thị
# group_to_display = groupdt[groupdt['Department'] == group_name]
# print(group_to_display)

                   ID      Name     Sex  Age Department   Salary
Department
Finance    3   PS5028  Tony Teo  Female   39    Finance   6700.0
           7   PS7562   Charlie  Female   26    Finance   6300.0
           12  PS2296   Charlie    Male   36    Finance   9900.0
           14  PS7415       Mia    Male   30    Finance   8700.0
           16  PS3715  Tony Teo  Female   25    Finance  10000.0
...               ...       ...     ...  ...        ...      ...
Sales      81  PS1802    Sophia    Male   27      Sales   4300.0
           83  PS7166     Alice  Female   36      Sales   4400.0
           84  PS7230    Sophia  Female   25      Sales   8600.0
           88  PS3595    Olivia  Female   38      Sales   9300.0
           90  PS6839       Eva  Female   30      Sales   8300.0

[100 rows x 6 columns]
Đại diện 2 nhân viên có mức lương cao nhất mỗi bộ phận:
                   ID      Name     Sex  Age Department   Salary
Department
Finance    18  PS2951   William  Female   29    Finance  10000.0
           4   PS3715  Tony Teo  Female   25    Finance  10000.0
HR         37  PS7353     David    Male   44         HR   9700.0
           36  PS1855   William  Female   25         HR   9700.0
IT         48  PS5358     Alice  Female   26         IT   9600.0
           49  PS5151    Olivia  Female   41         IT   9600.0
Marketing  64  PS5864       Bob    Male   40  Marketing  10000.0
           69  PS2576    Sophia    Male   34  Marketing  10000.0
Sales      91  PS6340     Alice    Male   45      Sales   9300.0
           98  PS3595    Olivia  Female   38      Sales   9300.0

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19756\712671914.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  groupdt = data.groupby('Department').apply(create_random_nulls_and_replace_with_max)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19756\712671914.py:24: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_2_each_dept = groupdt.groupby('Department').apply(lambda x: x.sort_values('Salary', ascending=False).head(2))