In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = r'H:\Python_exercises\dat205\data\03-2.name-nhanxung.csv'
data = pd.read_csv(filepath)
df = pd.DataFrame(data)
df

                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
891                                 Laleff, Mr. Kristo
892      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
893       Shelley, Mrs. William (Imanita Parrish Hall)
894                                 Markun, Mr. Johann
895                       Dahlberg, Miss. Gerda Ulrika

[896 rows x 1 columns]

In [99]:
ls_female = ['Mrs', 'Miss', 'Lady', 'Mme', 'Ms', 'Mlle', 'the Countess']
df['titles'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
print(df['titles'].unique())
gender = df['titles'].apply(lambda x: 'Female' if x in ls_female else 
                                                ('Male' if x in ['Mr', 'Dr'] else
                                                ('khac' if x in ['Mx'] else 'khác')))
print(gender.unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'the Countess' 'Jonkheer']
['Male' 'Female' 'khác']