In [1]:
import pandas as pd
import numpy as np

# Bài 1

In [3]:
# Tạo một Series từ danh sách các số nguyên
my_series = pd.Series([1, 3, 5, 7, 9])
print(my_series)

# Truy cập phần tử đầu tiên
first_element = my_series[0]
print(first_element)

# Truy cập phần tử cuối cùng
last_element = my_series[len(my_series) - 1]
print(last_element)

0    1
1    3
2    5
3    7
4    9
dtype: int64
1
9

In [14]:
# Truy cập một phần tử ở vị trí bất kỳ (ví dụ: vị trí thứ 2)
random_index = pd.Series(np.random.randint(0, len(my_series)))
number_index = my_series[random_index]
print(number_index)

1    3
dtype: int64

In [60]:
# Thay đổi một phần tử trong Series (ví dụ: thay đổi phần tử thứ 3 thành 10)
my_series[2] = 10
my_series

0     1
1     3
2    10
3     7
4     9
dtype: int64

In [50]:
# Tính tổng của tất cả các phần tử trong Series
total_sum = my_series.sum()

print("Phần tử đầu tiên:", first_element)
print("Phần tử cuối cùng:", last_element)
print("Một phần tử ở vị trí bất kỳ:", number_index)
print("Series sau khi thay đổi:", my_series)
print("Tổng của tất cả các phần tử trong Series:", total_sum)

Phần tử đầu tiên: 1
Phần tử cuối cùng: 9
Một phần tử ở vị trí bất kỳ: 3
Series sau khi thay đổi: 0     1
1     3
2    10
3     7
4     9
dtype: int64
Tổng của tất cả các phần tử trong Series: 30

# Bài 2

In [39]:
# Tạo DataFrame từ từ điển có cấu trúc
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [40]:
# Truy cập một cột cụ thể bằng tên cột
column_name = 'Name'
specific_column = df[column_name]
specific_column

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [41]:
# Truy cập một hàng cụ thể bằng chỉ số hàng
row_index = 2
specific_row = df[row_index-1:row_index]
specific_row

  Name  Age
1  Bob   30

In [42]:
# Thêm một cột mới vào DataFrame
new_column = [160, 170, 180]  # Ví dụ: chiều cao
df['Length'] = new_column
df

      Name  Age  Length
0    Alice   25     160
1      Bob   30     170
2  Charlie   35     180

In [43]:
# Tính trung bình của một cột cụ thể trong DataFrame
average_age = df['Age'].mean()
average_age

30.0

In [44]:
print("DataFrame:")
print(df)
print("\nCột cụ thể ('{}'):".format(column_name))
print(specific_column)
print("\nHàng cụ thể (index {}):".format(row_index))
print(specific_row)
print("\nDataFrame sau khi thêm cột mới:")
print(df)
print("\nTuổi trung bình:", average_age)

DataFrame:
      Name  Age  Length
0    Alice   25     160
1      Bob   30     170
2  Charlie   35     180

Cột cụ thể ('Name'):
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

Hàng cụ thể (index 2):
  Name  Age
1  Bob   30

DataFrame sau khi thêm cột mới:
      Name  Age  Length
0    Alice   25     160
1      Bob   30     170
2  Charlie   35     180

Tuổi trung bình: 30.0

# Bài 3

In [51]:
# Tạo DataFrame chứa thông tin của học sinh
data = {'Tên': ['Alice', 'Bob', 'Charlie', 'David'],
        'Điểm số': [85, 90, 75, 80]}
df = pd.DataFrame(data)
df

       Tên  Điểm số
0    Alice       85
1      Bob       90
2  Charlie       75
3    David       80

In [52]:
# In ra tất cả các hàng trong DataFrame
print("DataFrame:")
print(df)

DataFrame:
       Tên  Điểm số
0    Alice       85
1      Bob       90
2  Charlie       75
3    David       80

In [53]:
# Tính tổng điểm của tất cả học sinh
total_score = df['Điểm số'].sum()
print("\nTổng điểm của tất cả học sinh:", total_score)

Tổng điểm của tất cả học sinh: 330

In [54]:
# Tìm điểm số cao nhất và thấp nhất trong DataFrame
max_score = df['Điểm số'].max()
min_score = df['Điểm số'].min()
print("\nĐiểm số cao nhất:", max_score)
print("Điểm số thấp nhất:", min_score)

Điểm số cao nhất: 90
Điểm số thấp nhất: 75

In [55]:
# Tính điểm trung bình của các học sinh
average_score = df['Điểm số'].mean()
print("\nĐiểm trung bình của các học sinh:", average_score)

Điểm trung bình của các học sinh: 82.5