In [11]:
import pandas as pd
import numpy as np

# Bài 1

In [27]:
filelab2 = r"data\lab2.csv"
data = pd.read_csv(filelab2)
df = pd.DataFrame(data)

In [28]:
print(df.head(10))   # In ra 5 dòng đầu tiên của dữ liệu

      name  age  gender  score
0    David   22    Male     77
1    David   24  Female     80
2    David   29     NaN     82
3    David   19  Female     99
4      NaN   24     NaN     89
5     Emma   19  Female     88
6      NaN   18    Male     88
7      Bob   28  Female     79
8      Bob   22     NaN     71
9  Charlie   28     NaN     78

In [14]:
print(df.info())    # Hiện thông tin và cấu trúc của DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    833 non-null    object
 1   age     1000 non-null   int64
 2   gender  649 non-null    object
 3   score   1000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 31.4+ KB
None

# Bài 2

In [57]:
print(f'Giá trị trung bình của cột Age là: {df["age"].mean()}')
print(f'Độ lệch chuẩn của cột Age là: {df['age'].std()}')
print (f'số lượng giá trị thiếu trong mỗi cột:\n{df.isna().sum()}')
print(f'Các giá trị duy nhất trong cột Age là{df['age'].unique()}')

Giá trị trung bình của cột Age là: 23.429
Độ lệch chuẩn của cột Age là: 3.43055793242553
số lượng giá trị thiếu trong mỗi cột:
name      167
age         0
gender    351
score       0
dtype: int64
Các giá trị duy nhất trong cột Age là[22 24 29 19 18 28 21 20 23 26 25 27]

# Bài 3

In [23]:
print(f'Kích thước của DataFrame df là:\n {df.shape}')

Kích thước của DataFrame df là:
 (1000, 4)

In [24]:
print(f'Báo cáo mô tả tổng quan của df là:\n {df.describe()}')

Báo cáo mô tả tổng quan của df là:
                age        score
count  1000.000000  1000.000000
mean     23.429000    79.263000
std       3.430558    11.560254
min      18.000000    60.000000
25%      21.000000    69.000000
50%      23.000000    79.000000
75%      26.000000    89.000000
max      29.000000    99.000000

In [59]:
print(f'Dữ liệu ở hàng thứ 10 là:\n {df.loc[9]}')

Dữ liệu ở hàng thứ 10 là:
 name      Charlie
age            28
gender        NaN
score          78
Name: 9, dtype: object

In [46]:
print(f'Dữ liệu ở hàng thứ 5 cột name là:\n {df['name'][4]}')   #kết hợp tách cột với dòng (slicing 'cắt lát')

Dữ liệu ở hàng thứ 5 cột name là:
 nan