In [2]:
import numpy as np
import pandas as pd

## Bài 1

#### Thực hiện kết hợp 2 tập dữ liệu

In [5]:
df1 = pd.DataFrame({
    'product_id': [101, 102, 103],
    'product_name': ['Apple', 'Banana', 'Orange'],
    'price': [2.5, 1.8, 3.2]
})

df2 = pd.DataFrame({
    'product_id': [104, 105, 106],
    'product_name': ['Mango', 'Grapes', 'Cherry'],
    'price': [4.0, 2.7, 3.5]
})

# Hợp nhất hai DataFrame thành một
merged_df = pd.concat([df1, df2], ignore_index=True)  # ignore_index= thiết lập lại chỉ mục mới
merged_df

   product_id product_name  price
0         101        Apple    2.5
1         102       Banana    1.8
2         103       Orange    3.2
3         104        Mango    4.0
4         105       Grapes    2.7
5         106       Cherry    3.5

## Bài 2

#### Thực hiện hợp nhất 2 tập dữ liệu

In [6]:
left_df = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'product_id': [101, 102, 103],
    'quantity': [2, 1, 3]
})

right_df = pd.DataFrame({
    'product_id': [101, 102, 103],
    'price': [2.5, 1.8, 3.0]
})

merged_df = pd.merge(left_df, right_df, on='product_id')    # on= : chỉ định cột được chọn để hợp nhất
merged_df

   customer_id  product_id  quantity  price
0            1         101         2    2.5
1            2         102         1    1.8
2            3         103         3    3.0

## Bài 3

#### Thực hiện hợp nhất 2 tập dữ liệu

In [7]:
left_df = pd.DataFrame({
    'value_left': [1, 2, 3]
}, index=['A', 'B', 'C'])


right_df = pd.DataFrame({
    'value_right': [4, 5, 6]
}, index=['B', 'C', 'D'])

merged_df = left_df.merge(right_df, left_index=True, right_index=True, how='outer') # chỉ định cách thức kết hợp (VD: inner, outer, left, right)

merged_df

   value_left  value_right
A         1.0          NaN
B         2.0          4.0
C         3.0          5.0
D         NaN          6.0

## Bài 4

#### Thực hiện hợp nhất 3 tập dữ liệu

In [8]:
left_df = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value_left': [1, 2, 3]
})

right_df = pd.DataFrame({
    'key': ['B', 'C', 'D'],
    'value_right': [4, 5, 6]
})

third_df = pd.DataFrame({
    'key': ['A', 'C', 'E'],
    'value_third': [7, 8, 9]
})

# Hợp nhất ba DataFrame thành một
merged_df = pd.merge(left_df, right_df, on='key', how='outer')
merged_df = pd.merge(merged_df, third_df, on='key', how='outer')

print(merged_df)

  key  value_left  value_right  value_third
0   A         1.0          NaN          7.0
1   B         2.0          4.0          NaN
2   C         3.0          5.0          8.0
3   D         NaN          6.0          NaN
4   E         NaN          NaN          9.0