## Bài 1:

#### Tải dữ liệu từ tệp "lab7.csv" chứa thông tin về đơn hàng của khách hàng.

In [4]:
import pandas as pd

pathfile = r'H:\Python_exercises\dat205\data\lab7.csv'
df_read = pd.read_csv(pathfile, encoding='utf-8')

####  Hiển thị một số hàng đầu tiên của DataFrame để xem trước dữ liệu.

In [5]:
df_read.head()

   order_id  customer_id  product_id  quantity  total_price
0         1           70          25         8       887.63
1         2           67          35        10        34.57
2         3            3          41         5       960.27
3         4           90          50         3       440.45
4         5           70          40         7       900.92

#### Lưu trữ dữ liệu đã đọc vào tệp "orders.xlsx" với định dạng Excel.

In [6]:
df_read.to_excel('orders.xlsx', index=False)

#### Chọn các cột "order_id", "customer_id", "total_price" từ DataFrame và lưu vào DataFrame mới.

In [11]:
new_df = df_read[['order_id', 'customer_id', 'total_price']]
new_df

     order_id  customer_id  total_price
0           1           70       887.63
1           2           67        34.57
2           3            3       960.27
3           4           90       440.45
4           5           70       900.92
..        ...          ...          ...
995       996           32       523.46
996       997           86       248.66
997       998            7       339.91
998       999           43       371.38
999      1000           94       458.81

[1000 rows x 3 columns]

#### Lưu trữ DataFrame mới với các cột đã chọn vào tệp "selected_orders.csv" với định dạng CSV.

In [15]:
new_df.to_csv('selected_orders.csv', index=False, encoding='utf-8')

## Bài 2

#### Đọc dữ liệu từ tệp "lab7.csv" chứa thông tin về các đơn hàng của khách hàng.

In [13]:
import pandas as pd

pathfile = r'H:\Python_exercises\dat205\data\lab7.csv'
df_read = pd.read_csv(pathfile, encoding='utf-8')

#### Xác định và hiển thị thông tin tổng quan về dữ liệu, bao gồm số lượng hàng, các cột có trong tập dữ liệu và kiểu dữ liệu của mỗi cột.

In [16]:
df_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     1000 non-null   int64
 1   customer_id  1000 non-null   int64
 2   product_id   1000 non-null   int64
 3   quantity     1000 non-null   int64
 4   total_price  1000 non-null   float64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

#### Hiển thị một số mẫu dữ liệu để xem trước.

In [17]:
df_read.head()

   order_id  customer_id  product_id  quantity  total_price
0         1           70          25         8       887.63
1         2           67          35        10        34.57
2         3            3          41         5       960.27
3         4           90          50         3       440.45
4         5           70          40         7       900.92

#### Sử dụng pandas để lưu trữ DataFrame đã đọc vào một tệp HDF5 với cấu trúc dữ liệu tối ưu hóa.

In [19]:
hdf5_path = 'orders.h5'
df_read.to_hdf(hdf5_path, key='orders', mode='w', format='table')

#### Sử dụng HDF5 để lưu trữ DataFrame đã đọc vào một tệp "orders.h5" với các nhóm dữ liệu phân loại theo cửa hàng và theo tháng/năm.

#### Đọc dữ liệu từ tệp "orders.h5" sử dụng HDF5.

In [22]:
with pd.HDFStore(hdf5_path) as store:
    loaded_df = store['orders']

loaded_df

     order_id  customer_id  product_id  quantity  total_price
0           1           70          25         8       887.63
1           2           67          35        10        34.57
2           3            3          41         5       960.27
3           4           90          50         3       440.45
4           5           70          40         7       900.92
..        ...          ...         ...       ...          ...
995       996           32          28         8       523.46
996       997           86          25         5       248.66
997       998            7           1         2       339.91
998       999           43          19         5       371.38
999      1000           94           8         3       458.81

[1000 rows x 5 columns]